<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<img src="{% static 'images/other_images/inventory-background.jpg' %}" alt="" class="background-image">

<div class="content">
    <ul>

    <li><p class="crimson2">Helmets
    {% if is_helmet_equiped %}
    (Equiped)
        <a class="crimson1b25" href="{% url 'unequip_item' item_type='Helmet' %}">unequip</a>
    {% endif %}
        </p>
        </li>
        </ul>

    <ul>
        {% for inventory_item in items %}
            {% if inventory_item.quantity > 0 %}
                <li class="main-text1p25">{{ inventory_item.item.item_name }} Quantity: ({{ inventory_item.quantity }}),
                    {% if inventory_item.item.healing_power > 0 %}
                        healing power: <strong>{{ inventory_item.item.healing_power }}</strong>
                    {% endif %}
                    {% if inventory_item.item.strength_modifier > 0 %}
                        strength <strong>+{{ inventory_item.item.strength_modifier }}</strong>
                    {% endif %}
                    {% if inventory_item.item.defense_modifier > 0 %}
                        defense <strong>+{{ inventory_item.item.defense_modifier }}</strong>
                    {% endif %}
                    {% if inventory_item.item.health_modifier > 0 %}
                        max health <strong>+{{ inventory_item.item.health_modifier }}</strong>
                    {% endif %}

                    {% if not inventory_item.player.is_helmet_equiped %}
                        <a class="crimson1b25" href="{% url 'equip_item' inventory_item.id %}">equip</a>
                    {% else %}
                        (Equipped)
                        <a class="crimson1b25" href="{% url 'unequip_item' inventory_item.id %}">unequip</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        <li><a class="nav-link crimson1b25" href="{% url 'main' %}">Main</a></li>
        <li><a class="nav-link crimson1b25" href="{% url 'inventory' player_username %}">Inventory</a></li>
    </ul>
</div>

</body>
</html>